  <footer>
      <div class="container">
          <div class="row text-center">
              <p class="mx-auto">Pollux - 2018 - Created by Michael Claus</p>
          </div>
      </div>
  </footer>
  </body>
</html>