<h1>Mike's Voting App</h1>

<a href="/polls/new">New Poll</a>


<h3>Previous polls below</h3>
<% polls.reverse().forEach(function(poll) { %>
    <h4><%= poll.title %> - <a href="/polls/<%= poll._id %>">View</a></h4>
    <% }); %>