<form action="/polls" method="POST">
    <input type="text" name="title" placeholder="Title of poll">
    <input type="text" name="option1" placeholder="Option 1">
    <input type="text" name="option2" placeholder="Option 2">
    <button class="button expanded">Submit</button>
</form>